.left-nav { /* 사이드 바가 차지하는 전체 공간 */
	padding-top: 3%;
	padding-bottom: 3%;
	height: 75vh;
	width: 20vh;
	float: left;
}

.sidebar { /* 메뉴가 들어가는 공간 */
	height: 100%;
	width: 95%;
	padding-top: 30%;
	padding-left: 30%;
	float: left;
}

.sidebar div:nth-child(n+1) { /* 각각의 메뉴 */
	margin-top: 15%;
	cursor: pointer;
}

.sidebar div:nth-child(n+1):hover { /* 각각의 메뉴 호버 */
	color: #9B59B6;
}

.sidebar div:nth-child(3), .sidebar div:nth-child(4), .sidebar div:nth-child(5),
	.sidebar div:nth-child(7), .sidebar div:nth-child(8), .sidebar div:nth-child(9)
	{
	display: none;
}

.sidebar_line { /* 보라색 라인 */
	background-color: #9B59B6;
	height: 100%;
	width: 3px;
	float: left;
}

.left-nav:after { /* float 처리 */
	clear: both;
}