/* community */
.community .table {
    width: 1100px;
    border: 3px solid #dadada;
}
.community .table,
.community .table th,
.community .table td{
    border-left: 0px;
    border-right: 0px;
    margin: 0px auto;
    text-align: center;
    font-weight: 400;
}
.community .table tr {
    height: 40px;
}
.community .table th {
    font-weight: 500;
}
.community .table td:nth-child(1){
    color: #757575;
    padding-left: 30px;
    font-size: 16px;
}
.community .table td:nth-child(2){
    padding-left: 40px;
    text-align: left;
    width: 700px;
}
.community .pagebar {
	text-align: center;
	margin-top: 20px; 
}
.community .pagebar .pagination li a{
	border: 1px solid #fff;
	z-index: 1;
}