/* nav */
.message .left-side {
    padding-top: 40px;
	padding-bottom: 3%;
	min-height: 800px;
	width: 170px;
	float: left;
	border-right:3px solid #9B59B6;
	transform: translateY(-25px);
	margin-right: 50px;
	/* overflow: hidden; */
	background: #fff;
	z-index: 1;
}
.message .left-side .menu {
	height: 100%;
	width: 95%;
	/* padding-left: 10%; */
	/* float: left; */
}
.message .left-side .menu ul > li{
    margin-bottom:10px;
    cursor: pointer;
    font-size: 18px;
}
.message .left-side .menu ul > li span.message {
    text-align: center;
    color: #fff;
    background: #757575;
    width: 21px;
    height: 17px;
    line-height: 17px;
    font-size: 17px;
    transform: translateX(-33px);
    /* font-weight: 600; */
}
.message .left-side .menu ul > li .arrow {
    border-radius: 50%;
    color: #fff;
    background: #9B59B6;
    font-weight: 100;
    font-size: 11px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    transform: translateX(-16px) translateY(3px);
    margin-right: -15px;
}


/* 메시지 목록 */
.message {
	/* position: relative; */
	left: 30px;
	width: 1200px;
}
.message .title {
	transform: translateX(20px);
}
.message .table {
	width: 950px;
    border: 3px solid #dadada;
}
.message .table,
.message .table th,
.message .table td{
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}
.message .table tr {
    height: 40px;
}
.message .table th {
    font-weight: 500;
}
.message .table td:nth-child(1){
    color: #757575;
    padding-left: 30px;
    font-size: 16px;
    width: 80px;
}
.message .table th:nth-child(1){
    padding-left: 40px;
    text-align: center;
}
.message .table td:nth-child(2){
    padding-left: 50px;
    text-align: left;
    width: 700px;
}
.message .table td:nth-child(2):hover{
	font-weight: 500;
}
.message .table th:nth-child(4),
.message .table td:nth-child(5){
    padding-right: 20px;
}
.message .table .Y {
	color: #757575;
}


/* 페이지바 */
.message .pagebar {
	transform: translateY(-10px) translateX(100px); 
	width: 510px;
	text-align: center;
	margin: 0 auto;
}
.message .pagebar .pagination a{
	border: 0px;
	margin: 0px 3px;
	color: #181818;
}
.message .pagebar .pagination a:hover{
	background: #fff;
	color: #F4BF35;
}
.message .pagebar .pagination .active a{
	background: #fff;
	font-weight: 700;
	color: #9B59B6;
}
.message .pagebar .pagination span {
	transform: translateY(2px);
	color: #757575;
}
.message .pagebar .pagination .next a:hover span,
.message .pagebar .pagination .previous a:hover span {
	color: #F4BF35;
}


/* 최근 메시지 */
.message .orange {
	position: relative;
	top: -3px; left: 5px;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
}
.message .orange:before {
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
	background: #F4BF35;
	border-radius: 50%;
	z-index: -1;
	transform: translateX(-3px) translateY(8px);
}

/* 메시지 읽기 */
.message .detail {
	width: 950px;
    border: 3px solid #dadada;
}
.message .detail,
.message .detail td{
    border-left: 0px;
    border-right: 0px;
    font-weight: 400;
    padding-left: 10px;
}
.message .detail tr:nth-child(1) td{
    padding-top: 10px;
}
.message .detail tr td:nth-child(1) {
    width: 85px;
}
.message .detail tr:nth-child(2) td{
    padding-bottom: 10px;
    border-bottom: 1px dashed #dadada;
}
.message .detail tr:nth-child(3) td{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
}


/* 상세 메시지 버튼 */
.message .btn{
    font-weight: 700;
    font-size: 16px;
    padding: 3px;
    position: relative;
    width: 55px;
    transform: translateX(10px) translateY(10px);
}
.message .detail .btn,
.message .button .btn {
	outline: 0;
}
.message .btn:hover {
	color: #9B59B6;
}
.message .detail td:nth-child(1) .btn{
    transform: translateX(800px) translateY(-15px);
}
.message .detail td:nth-child(2) .btn{
    transform: translateX(780px) translateY(-15px);
}
.message .detail td:nth-child(1) .btn.del {
    transform: translateX(870px) translateY(-15px);
}


/* 메시지 보내기 */
.message .form {
    width: 950px;
    margin: 0 auto;
    border-top: 3px solid #dadada;
    padding-top: 10px;
    font-size: 18px;
    /* transform: translateX(105px); */
    overflow: hidden;
    height: 400px;
    margin-left: 20px;
}
.message .form p {
    font-size: 18px;
    margin-left: 50px;
    padding: 10px;
    transform: translateX(-30px);
}
.message .form .content {
    padding: 8px;
    /* margin-left: 10px; */
    width: 95%;
    height: 300px;
    outline: 0;
    transform: translateX(30px);
}
.message .form .button .btn {
    transform: translateX(790px) translateY(0px);
}
.message .form .button .btn.send {
	transform: translateX(800px);
}


/* 메시지 전송 */
.message.add .add {
    width: 950px;
    height: 300px;
    padding: 100px;
    text-align: center;
    margin: 0 auto;
    border-top: 3px solid #dadada;
    border-bottom: 3px solid #dadada;
    transform: translateX(95px);
}
.message.add .add .btn {
    margin: 5px;
    width: 80px;
    transform: translateX(0px) translateY(5px);
}


/* 메시지 검색 */
.message .search {
    width: 400px;
    margin: 0 auto;
    transform: translateY(20px) translateX(105px);
    font-size: 18px;
}
.message .search .text:first-child{
    width: 90px;
    outline: 0;
}
.message .search .text {
	border: 0px solid #757575;
	/* border-bottom: 1px solid #757575; */
	border-radius: 5px;
    outline: 0;
    float: left;
    width: 270px;
    height: 35px;
    margin-left: 10px;
    background: #E8F0FE;
    text-align: center;
    padding-right: 5px;
}
.message .search input.text {
    padding-left: 15px;
    text-align: left;
}
.message .search .search-img {
    width: 25px;
    position: absolute;
    right: 25px;
    top: 2px;
}


/* 검색 결과 */
.message .search-result {
	text-align: center;
	color: #757575;
	margin: 30px auto;
	margin-top: 40px;
}